$color-red: #EF3E42;
$color-blue: #332982;
$color-gray: #777;
$color-white: white;

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@400;700&display=swap');
// <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700" rel="stylesheet">
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Open Sans Condensed', sans-serif;

$font-size-h1: 60px;
$font-family-h1: $font-family-primary;
$font-weight-h1: 300;

$font-size-h2: 20px;
$font-family-h2: $font-family-secondary;
$font-weight-h2: bold;






footer.page-footer {
   background: $color-blue;
    padding: 25px;   
}


 button.btn.btn-dark{


    border: 2px solid $color-blue;
    background: white;
    color: $color-blue;
    border-radius: 0;
    font-weight: $font-weight-h2;
    font-family: $font-family-primary;
}

button.btn.btn-light {

    border-radius: 0;
    border: 2px solid;
    font-family: $font-family-primary;
}

p.card-text {

    font-family: $font-family-secondary;
}


div.card-header {

    font-family: $font-family-secondary;
}


h5.card-title {

    font-family: $font-family-secondary;
    font-weight: $font-weight-h2;
    color: $color-red;

}

a.nav-link.active {

    font-family: $font-family-secondary;
    font-weight: $font-weight-h2;
    

}

div.col-sm-7 {

    border: 0!important;
}

a.btn.btn-primary {

    background: white;
    color: $color-red;
    border: 2px solid $color-red;
    border-radius: 0;
    font-family: $font-family-secondary;
}

.pb-1 .py-1 {

padding-top: 2rem!important;
}


body {
    display: flex;
    flex-direction: column;

}

.nav-item.active {

 font-family:   $font-family-h2;
 font-size: $font-size-h1;


}

.col-md-4.mt-md-0.mt-3 >  p {
     font-family:   $font-family-secondary;
     color: white;
}


p {
    font-family:   $font-family-secondary;
}


.nav-item {
    font-family:   $font-family-h2;

    font-weight: $font-weight-h2;

    font-size: $font-size-h2;

}


a.nav-link {
color: $color-white;
    
}


div.card-img-overlay.d-flex.flex-column.justify-content-end.container-fluid   {

    padding: 0!important;
   
}

.card-img.img-fluid {
    height: 72%;
}

.card.bg-inverse {
padding: 0;
    padding-left: 0px;
    padding-right: 0px;
    align-content: center;
    margin-top: 0%;
    position: relative;
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
  

}


img.float-right {
    top: 0;
    position: relative;

}

h3.card-title {
  
    font-family: $font-family-secondary;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    object-fit: cover;
    width: 100%;
    margin-bottom: 0%;
    align-content: flex-start;

}

.card-img-overlay {
    margin: 0;
    padding: 0;
}

.container.text-center {

    display: flex;
    flex-wrap: wrap;

}

a {

    color: white;
}

.card-img-overlay {
    padding: 0%;
}

img.card-img.img-fluid {

    height: 40%;
    object-fit: cover;

}

div.card-header {
    color: white;
}

.btn.btn-light {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
}

.col-sm-6.col-md-6.col-lg-6.float-right {
    padding: 0;
    height: 100%;
    padding-top: 2rem!important;
}

.col-sm-6.col-md-4.col-lg-4.float-left {
    padding: 0;

    box-shadow: 0 0 17px 0px lightgray;
 
    height: 100%;
    margin-top: 2rem;
    
   
}

.col-xs-4 > .card-body {
    padding: 0;
}

@media (max-width:640px){
    
    .container.py-1.float-left > .float-right
{
display: none;

}        }

